<h1>Datos Personales</h1>
<ul>
  <li>{{nombre}}</li>
  <li>{{apellido}}</li>
  <li>{{edad}}</li>
  <li>{{email}}</li>
  <li>{{telefono}}</li>
</ul>

<!--Formulario-->
<h1 style="color:blue">Ingrese datos</h1>
<br />
<form action="/" method="POST">
  <div class="form-group">
    <label for="nombre"><b>Nombre</b></label>
    <input id="nombre" class="form-control" type="text" name="nombre" />
  </div>
  <div class="form-group">
    <label for="apellido"><b>Apellido</b></label>
    <input id="apellido" class="form-control" type="text" name="apellido" />
  </div>
  <div class="form-group">
    <label for="edad"><b>Edad</b></label>
    <input id="edad" class="form-control" type="number" name="edad" />
  </div>
  <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>

<script>
  const personas = []; const hayPersonas = personas.length > 0; if (hayPersonas) { }else { }
</script>

<!--Historial-->
<h2 style="color:crimson">Historial</h2>

<div class="table-responsive">
  <table class="table table-dark">
    <tr style="color: yellow">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>{{apellido}}</td>
      <td>{{edad}}</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>{{apellido}}</td>
      <td>{{edad}}</td>
    </tr>
  </table>
</div>

<!--Error-->
<h3 class="alert alert-danger">No hay datos</h3>